# Python artifacts
*.egg-info
__pycache__
venv

# YOLO models
yolov8n.pt
*.onnx

# Log of running YOLO models
runs

# Ignore all txt files in child directories of src/assets/labels/ds3/
src/assets/labels/ds3/**/*.txt

.DS_Store